<ion-tabs class="tabs-icon-top tabs-dark">
    <ion-tab title="Devices" icon-on="icon ion-ios-cog" icon-off="icon ion-ios-cog-outline" ui-sref="tab.devices">
    <ion-nav-view animation="slide-left-right" name="tab-devices"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Rules" icon-on="icon ion-ios-lightbulb" icon-off="icon icon ion-ios-lightbulb-outline" ui-sref="tab.rules">
        <ion-nav-view animation="slide-left-right" name="tab-rules"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Tasks" icon-on="icon ion-ios-bookmarks" icon-off="icon ion-ios-bookmarks-outline" ui-sref="tab.history">
        <ion-nav-view animation="slide-left-right" name="tab-history"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Setting" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/setting">
        <ion-nav-view animation="slide-left-right" name="tab-setting"></ion-nav-view>
    </ion-tab>
</ion-tabs>
